* {
    padding: 0;
    margin: 0;
    border: 0;
}
*,
*::before,
*::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,
:active {
    outline: none;
}
a {
    color: inherit;
}
a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}
button {
    cursor: pointer;
}
button::-moz-focus-inner {
    padding: 0;
    border: 0;
}
a,
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
ul li {
    list-style: none;
}
img {
    object-fit: cover;
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

body {
    background-image: url("../images/bg.jpg");
    background-blend-mode: color;
    background-color: rgba(0, 0, 0, 0.7);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
    min-height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.weather-block {
    display: flex;
    justify-content: space-between;
    min-height: 300px;
    width: 800px;
    background-color: rgba(219, 191, 168, 0.7);

    top: 50%;
    left: 50%;
    transform: translateX(-40%);
    border: 3px solid black;
}

.weather-block__city-name {
    min-width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

.weather-block__temp {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 200px;
    font-size: 40px;
}

.weather-block__cloudy {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 200px;
    font-size: 40px;
}

.weather-block__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 200px;
}
.block + .block {
    border-left: 1px solid black;
}
.search-form {
    width: 821px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 50px;
}

.search-form__input {
    width: 697px;
    padding: 10px;
    font-size: 20px;
}

.search-form__button {
    font-size: 20px;
    padding: 10px;
}
